<div id="response" ng-cloak ng-init="init()">
  <z-wampum-belt main="main"></z-wampum-belt>
  
  <!-- App Title -->
  <div class="appTitle">
    <div class="">
      <h1>
        <span class="text-muted">app:</span> {{main.properties.raw.name | uppercase}}
      </h1>
    </div>
  </div>

  <div id="devices" ng-show="main.entities.length" >

    <div ng-repeat="entity in main.entities" class="">
          <div class="pure-g-r" id="{{entity.heading}}">
            <!-- Self link for state & actions -->
            <div class="characteristic pure-u-1-4 self">
              <div class="content">
                <p class="name" ng-class=""><i class="fa fa-home h_277"></i>
                  <a ng-href="#/entity?url={{ entity.selfLink.href | encodeURIComponent }}">{{entity.heading}}</a>
                </p>
                
                <h1>{{entity.raw.state}}<span class="units"></span></h1>
                
                <div class="vis">
                  <z-dna-strip entity="entity"></z-dna-strip>
                  <code><pre>[ sparkline here ]</pre></code>
                  <!-- 
                  <nvd3-sparkline-chart
                    data="stream.data"
                    id="{{ stream.name }}"
                    x="stream.xFunction()"
                    y="stream.yFunction()",
                    xTickFormat="stream.xTickFunction"
                    rightalignValue="true"
                    width="200"
                    height="60"
                                        >
                  <svg></svg>
                  </nvd3-sparkline-chart>
                  -->
                </div>
                
                <div class="actions">
                  <button class="pure-button pure-button-primary">off</button>
                  <button class="pure-button">toggle</button>

                  <div ng-show="entity.href">
                      <button class="btn btn-default btn-primary" ng-click="go(entity.href)">Go</button>
                  </div>
                </div>
              </div><!-- /.content -->
            </div>
            
            <!-- all other characteristic data for device -->
            <div class="characteristic pure-u-1-4 {{ stream.name }}" ng-repeat="stream in entity.streams">
              <div class="content">
                <p class="name"><i class="fa fa-asterisk" ng-class="'h_' + stream.data.slice(-1)[0][1]"></i>
                  <a ng-href="#/entity?url={{ entity.selfLink.href | encodeURIComponent }}">{{ stream.name }} plus a whole lot more text</a>

                </p>
                
                <h1>{{ stream.data.slice(-1)[0][1].toFixed(3) }}<span class="units"></span></h1>
                
                <div class="vis">
                  <!-- <z-dna-strip entity="entity"></z-dna-strip> -->
                  <code><pre>[ sparkline here ]</pre></code>
                  
                  
                  <nvd3-sparkline-chart
                    data="stream.data"
                    id="{{ stream.name }}"
                    x="stream.xFunction()"
                    y="stream.yFunction()",
                    xTickFormat="stream.xTickFunction"
                    rightalignValue="true"
                    width="200"
                    height="60"
                                        >
                  <svg></svg>
                  </nvd3-sparkline-chart>
                
                </div>
                
                <div class="actions">
                  <button class="pure-button pure-button-primary">off</button>
                  <button class="pure-button">toggle</button>

                  <div ng-show="entity.href">
                      <button class="btn btn-default btn-primary" ng-click="go(entity.href)">Go</button>
                  </div>
                </div>
              </div><!-- /.content -->
            </div><!-- characteristic repeater -->
          </div>
  
    </div>
  </div>  
      <!-- 
        <div class="panel-heading">
            <h4 class="panel-title entity-title">

              


                <div class="dropdown" ng-show="entity.manyLinks">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    More Links <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="link in entity.links">
                      <a ng-href="#/entity?url={{ link.href | encodeURIComponent }}"
                                 class="entity-link {{ link.rel }}">{{ link.rel }}</a>
                    </li>
                  </ul>
                </div>

            </h4>
          </div>
-->
  
     <div id="footer" class="pure-u-1">
       <div class="content">
         zetta<span class="gray">.js</span> 
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-github"></i></a>
        </div>
      </div><!-- /#footer -->
</div>

