<div id="response" ng-cloak ng-init="init()">
  <z-wampum-belt main="main"></z-wampum-belt>
  
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>-->
         <a class="navbar-brand" href="#"><i class="fa fa-bolt"></i> Elroy Browser</a>
         
       </div>      
       <!--
       <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-repeat="link in main.breadcrumbs">
              <a ng-href="#/entity?url={{ link.href | encodeURIComponent }}"
               class="entity-link">{{ link.text }} / </a>
            </li>
          </ul>
        </div>--><!-- /.navbar-collapse -->
      </div><!-- /.container (for navbar -->
    </div><!-- /.navbar -->

  <!-- App Title -->
  <div class="appTitle">
    <div class="">
      <h1>
        <span class="text-muted">app:</span> {{main.properties.raw.name | uppercase}}
      </h1>
    </div>
  </div>

  <div id="devices" ng-show="main.entities.length" >

    <div ng-repeat="entity in main.entities" class="">
          <div class="pure-g-r" id="{{entity.heading}}">
            <!-- Self link for state & actions -->
            <div class="characteristic pure-u-1-4 self">
              <div class="content">
                <p class="name" ng-class="'h_120"><i class="fa fa-home"></i>
                  <a class="nocolor" ng-href="#/entity?url={{ entity.selfLink.href | encodeURIComponent }}">{{entity.heading}}</a>
                </p>
                
                <h1>{{entity.raw.state}}<span class="units"></span></h1>
                
                <div class="vis">
                  <z-dna-strip entity="entity"></z-dna-strip>
                  <code><pre>[ sparkline here ]</pre></code>
                  <!-- 
                  <nvd3-sparkline-chart
                    data="stream.data"
                    id="{{ stream.name }}"
                    x="stream.xFunction()"
                    y="stream.yFunction()",
                    xTickFormat="stream.xTickFunction"
                    rightalignValue="true"
                    width="200"
                    height="60"
                                        >
                  <svg></svg>
                  </nvd3-sparkline-chart>
                  -->
                </div>
                
                <div class="actions">
                  <button class="pure-button pure-button-primary">off</button>
                  <button class="pure-button">toggle</button>

                  <div ng-show="entity.href">
                      <button class="btn btn-default btn-primary" ng-click="go(entity.href)">Go</button>
                  </div>
                </div>
              </div><!-- /.content -->
            </div>
            
            <!-- all other characteristic data for device -->
            <div class="characteristic pure-u-1-4 {{ stream.name }}" ng-repeat="stream in entity.streams">
              <div class="content">
                <p class="name" ng-class="h_120"><i class="fa fa-asterisk"></i>
                  <a class="nocolor" ng-href="#/entity?url={{ entity.selfLink.href | encodeURIComponent }}">{{ stream.name }}</a>
                </p>
                
                <h1>[Data here]<span class="units"></span></h1>
                
                <div class="vis">
                  <!-- <z-dna-strip entity="entity"></z-dna-strip> -->
                  <code><pre>[ sparkline here ]</pre></code>
                  <!-- 
                  <nvd3-sparkline-chart
                    data="stream.data"
                    id="{{ stream.name }}"
                    x="stream.xFunction()"
                    y="stream.yFunction()",
                    xTickFormat="stream.xTickFunction"
                    rightalignValue="true"
                    width="200"
                    height="60"
                                        >
                  <svg></svg>
                  </nvd3-sparkline-chart>
                  -->
                </div>
                
                <div class="actions">
                  <button class="pure-button pure-button-primary">off</button>
                  <button class="pure-button">toggle</button>

                  <div ng-show="entity.href">
                      <button class="btn btn-default btn-primary" ng-click="go(entity.href)">Go</button>
                  </div>
                </div>
              </div><!-- /.content -->
            </div><!-- characteristic repeater -->
          </div>
  
    </div>
  </div>  
      <!-- 
        <div class="panel-heading">
            <h4 class="panel-title entity-title">

              


                <div class="dropdown" ng-show="entity.manyLinks">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    More Links <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="link in entity.links">
                      <a ng-href="#/entity?url={{ link.href | encodeURIComponent }}"
                                 class="entity-link {{ link.rel }}">{{ link.rel }}</a>
                    </li>
                  </ul>
                </div>

            </h4>
          </div>
-->
</div>

