<div class="row">
  <div class="col-md-12">
    <label for="url">Entity URI:</label>
    <input type="text" size=60
       id="url" readonly value="{{url}}" select-on-click />
  </div>
</div>
<div id="response" class="row" ng-cloak ng-init="init()">
  <div class="col-md-4">
    <div id="class" ng-show="main.class">
      <h3>Class</h3>
      <pre>{{main.class}}</pre>
    </div>
    <div id="properties" ng-show="main.properties.length">
      <h3>Properties</h3>
      <pre>{{main.properties}}</pre>
    </div>
    <div id="links" ng-show="main.links.length">
      <h3>Links</h3>
      <ul>
        <li ng-repeat="link in main.links">
        <a ng-href="#/entity?url={{ link.href | encodeURIComponent }}"
         class="entity-link {{ link.rel }}">{{ link.rel }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div id="actions" ng-show="main.actions.length">
      <h3>Actions</h3>
      <accordion close-others="true">
        <accordion-group ng-repeat="action in main.actions" is-open="$first">
          <accordion-heading>
            <span ng-show="action.title">{{action.title}}</span>
            <span ng-show="!action.title">{{action.name}}</span>
          </accordion-heading>
          <tabset>
            <tab heading="Form">
                <form class="form-horizontal">
                      <br/>
                          <div ng-if="action.fields.length">
                              <srn-action value="action"></srn-action>
                          </div>
                      <br/>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-default" ng-click="execute(action)">Submit</button>
                    </div>
                  </div>
                </form>
            </tab>
            <tab heading="Source">
              <pre>{{ action | prettify }}</pre>
            </tab>
          </tabset>
        </accordion-group>
      </accordion>
    </div>
    <div id="entities" ng-show="main.entities.length">
      <h3>Entities</h3>
      <div>
        <label class="checkbox">
          <input type="checkbox" ng-model="isOneAtATime" id="oneAtATime" />
          Open only one at a time
        </label>
      </div>
      <br/>
      <accordion close-others="isOneAtATime">
        <accordion-group ng-repeat="entity in main.entities" heading="{{entity.heading}}" is-open="$first">
          <div ng-show="entity.properties.length">
            <h4>Properties</h4>
            <pre>{{entity.properties}}</pre>
          </div>
          <div ng-show="entity.links.length">
            <h4>Links</h4>
            <ul>
              <li ng-repeat="link in entity.links">
              <a ng-href="#/entity?url={{ link.href | encodeURIComponent }}"
               class="entity-link {{ link.rel }}">{{ link.rel }}</a>
              </li>
            </ul>
          </div>
          <div ng-show="entity.href">
            <button class="btn btn-default btn-primary" ng-click="go(entity.href)">Go</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
