<div ng-init="init()">
  <form class="pure-form"id="zetta-start">
    
	<label for="url">
		<h1>zetta<span class="gray">.js</span></h1>
		<h3>Enter your fog app URL</h3>  
	</label>
	
	<div class="form-group">
		<div class="input-group col-md-6">
			<input type="text" size=60 class="form-control" id="url" name="url" ng-model="params.url" placeholder="Zetta Fog App URL" autofocus/>		  
			<button class="pure-button pure-button-primary" ng-click="fetchUrl(params)">Submit</button>
		</div><!-- /input-group -->
    </div>
	  
  </form>
	
	
</div>
<div id="entity" siren-view />
