body {
  padding-top: 60px;
}

#control-panel {
  margin-top: 30px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#elroy-start label {
	display: block;
	width: 100%
	clear: both;
}

#response {
	margin-bottom: 6em;
}

.state {
  transition: background 0.8s ease;
  -webkit-transition: background 0.8s ease;
}

