body {
  padding-top: 60px;
  font-family: 'Source Sans Pro',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#control-panel {
  margin-top: 30px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#elroy-start label {
	display: block;
	width: 100%
	clear: both;
}

#response {
	margin-bottom: 6em;
}

.state {
  transition: background 0.8s ease;
  -webkit-transition: background 0.8s ease;
}
.links .btn-primary {margin: 0 2em;}

#properties.panel-group {
  margin-top: 1em;
}

#navbar_links_button {
  padding: 14px inherit 0 15px;
  margin: 0;
  line-height: 20px;
}

ul.dropdown-menu-form {
    padding: .5em 1em;
	min-width: 300px;
    overflow-y: scroll;
}

.jsondiffpatch-delta {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.jsondiffpatch-delta pre{
	background-color: transparent;
	border: none;
}



