@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700);

@import 'hues.css';

@text: hsl(0, 0%, 30%);

body {
  color: @text;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Source Sans Pro", Georgia, Times, "Times New Roman", serif;
}

pre, code, .mono {
  font-family: "Source Code Pro", monospace;
}

p, pre {
  margin-top: .5em; margin-bottom: .5em;
}

.characteristic {
  .content { padding: 1em; }
  &.self .name { border-bottom: 1px dashed #ccc; }
  .name {
    padding: .5em 0;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      text-decoration: none;
      color: @text
    }
    border-bottom: 1px solid #ccc;
    
  }
  
  h1{
    margin: 0;
    padding: 0;
    .units {
      font-weight: 300; 
      font-size: .7em;
      padding-left: .3em;
      }
  }
  .pure-button {
    padding: .2em .6em;
  }
}
