@import 'hues.css';

@text: hsl(0, 0%, 30%);
@zborder: #ddd;

@ao: #E86C1F;
@ag: #5E5F61;

body {
  color: @text;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Source Sans Pro", Georgia, Times, "Times New Roman", serif;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "chaparral-pro-display", serif;
  font-weight: 700;
  }
*/


pre, code, .mono {
  font-family: "Source Code Pro", monospace;
}

p, pre {
  margin-top: .5em; margin-bottom: .5em;
}

#zetta-start {
  text-align: center;
  h1 {
    font-size: 4em; font-weight: 400;
    color: @ao;
    span {
      color: @ag;
    }
  }
}

.header {
  .breadcrumbs {
    ul {
      margin: 0; 
      padding: .8em 0 0 1em;
      list-style-type: none;
    }
    li {
      color: hsl(0, 0%, 50%);
      display: inline;
      font-weight: 300;
    }
  }
  .brand {
    font-size: 1.4em;
    text-align: right;
    .content {
      padding: .25em 1em .5em 0;
      color: @ao;
      .gray { 
        color: @ag; 
      }
    }
  }
}
#devices_container {
  width: 100%;
  overflow-x: scroll;
}
#devices {
  display: table;
  .row {
    display: table-row;
    .device {
      display: table-cell;
    }
  }
}
.characteristic {
  width: 282px;
  &.show {
    max-width: 777px;
    margin: 0 auto;
  }
  .content { padding: 1em; }
  &.self .name { 
    border-bottom: double @zborder; 
  }
  .name {
    padding: .5em 0 .3em 0;
    font-family: "chaparral-pro-display", serif;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    a {
      text-decoration: none;
      color: @text;
    }
    border-bottom: 1px solid @zborder;
    
    .devicecon {
      display: block; 
      float: right;
      background-color: @ao;
      width: 30px; height: 30px;
      overflow: hidden;
      img {
        width: 100%;
        border: none;
      }
    }
  }
  
  h1{
    margin: 0;
    padding: 0;
    .units {
      font-weight: 300; 
      font-size: .7em;
      padding-left: .3em;
      }
  }
  .pure-button {
    padding: .2em .6em;
  }
  
  .map {
    width: 100%;
    height: 70px;
    background-color: #eee;
    margin-top: .5em;
  }
  .vis{
    .leaflet-control-zoom, .leaflet-control-attribution { display: none; }  
  }
}
#properties .json {
  pre{
    line-height: 1.428571429;
  }
}
.jsondiffpatch-delta {

	font-family: "Source Code Pro";
    font-size: 16px;
	line-height: 1.428571429;
	color: #333;
    margin: 0; padding: 0;
    letter-spacing: normal;
    word-spacing: normal;
    ul {
      margin-left: 4px;
      .jsondiffpatch-value {
        padding-left: 2px;
      }
    }
}

#states .bottom {border-top: 1px solid @zborder;}

.state_log {
  max-height: 200px;
  margin-top: 1em;
  overflow-x: auto;
  ul, li {
    list-style-type: none;
    margin: 0; padding: 0;
  }
  li {
    font-family: "courier new", "andale mono", monospace;
    margin-bottom: .5em;
    color: #666;
    span{
      font-size: .6em;
    }
    strong {
      display: inline-block;
      min-width: 100px;
    }
  }
  &.latest {
    color: #2765a3;
  }
}

#footer {
  font-size: 1.4em;
  text-align: center;
  .content{padding: 1em 0;}
  border-top: 1px solid @zborder; 
  color: @ao;
  .gray {
    color: @ag;
    padding-right: 1em;
  }
  a {
    padding: 0 1em;
  }
}
